@media screen and (max-width: 1350px) {
  header .main-header,
  header .top-header {
    padding: 0 40px;
  }
  header .burger-buttons {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1250px) {
  .events .about-aware {
    flex-direction: column;
  }
  .events .about-aware div:has(.add-event.button.primary) {
    order: 1;
    max-width: 250px;
    width: 100%;
  }
  .events .about-aware div:has(.add-event.button.primary) .button {
    width: 100%;
    max-width: 100%;
  }
  .events .events-container .event .content-wrapper .content {
    flex-direction: column;
    max-width: 600px;
  }
  .add-event.button.primary {
    position: relative;
    top: unset;
    right: unset;
    transform: none;
  }
  .events .events-container .event .content-wrapper .content .submit-button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .events .events-container .event .content-wrapper .content .item {
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid #fff;
  }
  header .links > .link {
    display: none;
  }
  header .burger-menu {
    display: revert;
  }
  header .burger-menu .dropdown .link {
    text-align: center;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  header .burger-menu {
    position: relative;
  }
  header .burger-menu .dropdown.active {
    left: 30px;
    display: flex;
    opacity: 1;
    transition: 0.4s all ease;
  }
  header .burger-menu .dropdown {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    transition: 0.4s all ease;
    display: none;
    gap: 10px;
    position: absolute;
    top: 0;
    left: -200px;
    opacity: 0;
    background: var(--blue);
    width: 200px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0px 3px #000;
  }
}
@media screen and (max-width: 1100px) {
  .register .container .box .grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .forgot-button,
  .register .container .box .grid-2 .input-container {
    max-width: 400px;
  }
  .register .container .box {
    flex-direction: column;
  }
  .register .container .box .image {
    display: none;
  }
  .homepage .contact-box .row {
    flex-direction: column;
    align-items: center;
  }
  .homepage .contact-box .row .column,
  .homepage .contact-box .row .column:first-child,
  .homepage .contact-box .contact-form {
    max-width: 100%;
  }
  .homepage .services .container {
    flex-direction: column;
    align-items: center;
  }
  .homepage .services .container .column:last-child {
    order: -1;
    max-width: 600px;
  }
  .homepage .services .column .services-box h3 {
    text-align: center;
  }
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
  .homepage .events-aware .container .event-box {
    flex-direction: column;
  }
  .homepage .events-aware .event-box .image img {
    width: 100%;
  }
  .homepage .events-aware .event-box .image .date {
    padding: 15px;
  }
}

@media screen and (max-width: 800px) {
  header .main-header .logo,
  header .main-header .links {
    margin-right: 10px;
  }
  .register .container .box .grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-event .dialog-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .events .events-container .event .image img,
  .events .events-container .event .image {
    height: 300px;
  }
  .events .events-container.inactive h2 {
    text-align: center;
  }
  .events .about-aware {
    margin-bottom: 0;
  }
  .swiper-slide img,
  .swiper {
    height: 350px;
  }
  header .top-header,
  header .main-header {
    padding: 0 20px;
  }

  header .top-header {
    gap: 20px;
    flex-direction: column;
    padding: 10px 20px !important;
    height: auto;
  }
  footer .container .footer-top {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .homepage .contact-box {
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .button.primary,
  .button.secondary {
    height: 42px;
    font-size: 16px;
  }
  footer .copyright {
    flex-direction: column;
    gap: 5px;
  }
}
@media screen and (max-width: 600px) {
  header .main-header .action {
    justify-content: center;
  }
  .register .container .box .content {
    padding: 0 20px;
  }
  .register .container .box h1 {
    font-size: 32px;
  }
  .events .events-container.inactive h2 {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .new-event .dialog-content .grid-3 {
    flex-direction: column;
    display: flex;
    gap: 0px;
  }
  .new-event .dialog-content {
    overflow-y: auto;
    max-height: 700px;
  }
  header .burger-menu .dropdown.active {
    left: unset;
    right: 30px;
  }
  header .top-header .socials .social.social.phone-number {
    padding-right: 0;
    border: none;
  }
  header .top-header .socials .social.messenger {
    margin-left: 8px;
  }
  header .main-header .action {
    margin-right: auto;
  }
  header .main-header {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 20px;
    justify-content: center;
  }
  header .top-header .socials .social.social.phone-number label {
    display: none;
  }
  .grid-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-top .socials .social.phone-number {
    display: none;
  }
  footer .grid-4 .column {
    max-width: 250px;
    width: 100%;
    align-items: center;
  }
  footer .grid-4 .column a,
  footer .grid-4 .column h3 {
    text-align: center;
  }
  footer .main-footer .newsletter-footer {
    width: 100%;
  }
}
